@using EnrichcousBackOffice.Services
@using EnrichcousBackOffice.ViewModel
@using EnrichcousBackOffice.Utils.IEnums
@using Inner.Libs.Helpful

@{
    List<TimeZoneModel> listTimeZone = new MerchantService().ListTimeZone();
}

<style type="text/css">
    #c_other_note {
        width: 80%;
        border: none;
        border-bottom: 2px solid burlywood;
        padding: 1px 3px;
        transition: border-bottom 0.5s;
    }

        #c_other_note:focus {
            outline: none;
            border-bottom: 2px solid green;
        }
    .ui-datepicker {
        z-index: 9999 !important
    }
</style>


<form class="modal fade" id="merchant_estimete_modal" method="post" action="/merchantman/NewMerchantEstimete" role="dialog">

    <div class="modal-dialog" style="width:800px; max-width:100%">
        <!-- Modal content-->
        <div class="modal-content">
            @*<div id="delivery_bundle_over" style="width: 100%; height: 100%;position: absolute;top: 0;left: 0;opacity: 0.5; background-color:white; z-index:9;">
                    <img style="margin:auto; display:block; height:200px" src="~/Content/ajax-loaders/loading-partial.gif" />
                </div>*@
            <div class="modal-header" style="background-color:#a8a0a0">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">New Lead</h4>
            </div>
            <div class="modal-body" style="overflow:auto;top:0">

                <h3 style="padding:5px;border-left:solid 5px red;background-color:burlywood">CONTACT PERSON</h3>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Contact/Owner Name <span style="color:red">*</span></label>
                            <input class="form-control" name="ContactName" required />
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Contact Number <span style="color:red">*</span></label>
                            <input type="text" required class="form-control" name="CellPhone" data-inputmask='"mask": "(999) 999-9999"' data-mask />
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Contact Email <span style="color:red">*</span></label>
                            <input class="form-control" type="email" required name="Email" />
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="control-label">Potential rate:</label>
                            <div class="clearfix"></div>
                            <div class="rate">
                                <input type="radio" id="star5" name="rate" value="5" />
                                <label for="star5" title="5 stars">5 stars</label>
                                <input type="radio" id="star4" name="rate" value="4" />
                                <label for="star4" title="4 stars">4 stars</label>
                                <input type="radio" id="star3" name="rate" value="3" />
                                <label for="star3" title="3 stars">3 stars</label>
                                <input type="radio" id="star2" name="rate" value="2" />
                                <label for="star2" title="2 stars">2 stars</label>
                                <input type="radio" id="star1" name="rate" value="1" checked />
                                <label for="star1" title="1 stars">1 star</label>
                            </div>
                        </div>
                    </div>
                </div>
                <h3 style="padding:5px;border-left:solid 5px red;background-color:burlywood">SALON INFOMATION</h3>
                <div class="row">
                    <div class="col-md-12" style="margin-bottom: 15px;">
                        <div class="col-md-6" style="padding-left: 0;">
                            <select name="salonType" class="form-control">
                                <option>THIS IS A CURRENT SALON</option>
                                <option>THIS IS A NEW SALON</option>
                            </select>
                        </div>
                        <div class="input-group col-md-6" style="display:none;padding-right:0;padding-left: inherit;" id="div_expected_open_date">
                            <div class="input-group-addon" style="line-height: 20px;width: 35%;text-align: left;text-indent: 5px;">
                                <i class="fa fa-calendar" style="margin-right: 5px;"></i>Expected open date
                            </div>
                            <input class="datepicker form-control date form-control" name="expected_open_date" onkeydown="return false" placeholder="MM/dd/yyyy" />
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Salon Name <span style="color:red">*</span></label>
                            <input class="form-control" name="BusinessName" required />
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Salon Email (<i>Login for salon</i>) <span style="color:red">*</span></label>
                            <input type="email" class="form-control" name="SalonEmail" required/>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Salon Number</label>
                            <input type="text" class="form-control" name="SalonPhone" data-inputmask='"mask": "(999) 999-9999"' data-mask />
                        </div>
                    </div>


                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Time zone <span style="color:red">*</span></label>
                            <select id="SalonTimeZone" class="form-control" name="SalonTimeZone" required>
                                @if (listTimeZone.Count > 0)
                                {
                                    foreach (TimeZoneModel time in listTimeZone)
                                    {
                                        <option value="@time.Name"> (UTC @time.TimeDT) @time.Name </option>
                                    }
                                }
                                else
                                {
                                    <option value="Eastern">(UTC @(TIMEZONE_NUMBER_BY_ID.Eastern.Text())) Eastern</option>
                                    <option value="Central">(UTC  @(TIMEZONE_NUMBER_BY_ID.Central.Text())) Central</option>
                                    <option value="Mountain">(UTC  @(TIMEZONE_NUMBER_BY_ID.Mountain.Text())) Mountain</option>
                                    <option value="Pacific">(UTC  @(TIMEZONE_NUMBER_BY_ID.Pacific.Text())) Pacific</option>
                                    <option value="VietNam">(UTC  @(TIMEZONE_NUMBER_BY_ID.VietNam.Text())) VietNam</option>
                                }
                            </select>
                        </div>

                    </div>


                    @*<div class="col-md-6">
                            <label>Current salon status</label>
                            <div class="form-group">
                                <select name="salonType" class="form-control">
                                    <option>THIS IS A CURRENT SALON</option>
                                    <option>THIS IS A NEW SALON</option>
                                </select>
                            </div>
                        </div>*@
                    <div class="col-md-12">
                        <div class="form-group">
                            <label>Salon Address <span style="color:red">*</span></label>
                            <input class="form-control" name="SalonAddress1" placeholder="street" required />
                            <div class="row">
                                <div class="col-md-6" style="padding:0px; margin-top:-1px">
                                    <input class="form-control" name="SalonCity" placeholder="City/Town *" required />
                                </div>
                                <div class="col-md-6" style="padding:0px; margin-top:-1px;">
                                    <input class="form-control" name="SalonState" id="state" placeholder="State/Province *" style="border-left:none" required />
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6" style="padding:0px; margin-top:-1px">
                                    <input class="form-control" name="SalonZipCode" placeholder="ZIP code *" pattern="[0-9]+" required />
                                </div>
                                <div class="col-md-6" style="padding:0px; margin-top:-1px">
                                    <input class="form-control" id="country" name="BusinessCountry" placeholder="Country" style="border-left:none" value="United States" required />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="clear"></div>

                <br />
                <h3 style="padding:5px;border-left:solid 5px red;background-color:burlywood">FEATURES OF INTERES</h3>
                <div class="row">
                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-md-6">
                                <label><input type="checkbox" name="c_checkin" /> CHECK IN</label>
                            </div>
                            <div class="col-md-6">
                                <label><input type="checkbox" name="c_other" value="true" /> OTHER </label>
                                <input type="text" id="c_other_note" onclick="$('input[name=c_other]').prop('checked', true)" name="c_other_note" />
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <label><input type="checkbox" name="c_payroll" /> PAYROLL</label>
                            </div>
                            <div class="col-md-6">
                                <label><input type="checkbox" name="c_automation" /> AUTOMATION</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <label><input type="checkbox" name="c_techmanagement" /> TECH MANAGEMENT</label>
                            </div>
                        </div>
                    </div>
                </div>
                <br />

                @*<h3 style="padding:5px;border-left:solid 5px red;background-color:burlywood">APPOINTMENT INFO</h3>
                    <div class="row">
                        @{
                            System.Collections.ObjectModel.ReadOnlyCollection<TimeZoneInfo> tz = TimeZoneInfo.GetSystemTimeZones();

                        }
                        <div class="col-md-12">
                            <h4 for="r_demo">
                                Request demo &nbsp;&nbsp;<input id="r_demo" name="rdemo" value="1" onchange="requeck_check(this)" type="checkbox" style="padding-left:5px;transform:scale(1.5)" /><br />
                            </h4>
                        </div>
                        <div id="schedule" class="col-md-12">
                            <div class="form-group">
                                <label>Schedule:</label>
                                <input disabled class="datepicker date" style="width:120px" name="schedule_date" onkeydown="return false" placeholder="MM/dd/yyyy" required />
                                &nbsp;&nbsp;&nbsp;
                                <input disabled class="hours" name="schedule_hours" type="number" min="1" max="12" maxlength="2" style="width:50px" placeholder="hh" required />:
                                <input disabled class="minute" name="schedule_minute" type="number" min="0" max="60" style="width:50px" placeholder="mm" required />
                                <select disabled class="am_pm" name="schedule_am_pm" style="width:50px;padding:2px">
                                    <option value="AM">AM</option>
                                    <option value="PM">PM</option>
                                </select>

                                <label>Time Zone</label>
                                <select disabled class="am_pm" name="schedule_timezone" style="width:250px;padding:2px">
                                    @foreach (var item in tz.ToList())
                                    {
                                        <option value="@item.DisplayName">@item.DisplayName</option>
                                    }
                                </select>
                            </div>
                        </div>
                    </div>*@


                <h3 style="padding:5px;border-left:solid 5px red;background-color:burlywood"> APPOINTMENT <a id="appointment_btn" class="btn btn-sm fa fa-plus" style="padding:2px; font-size:16px" onclick="toggle_appointment()"> Add Apointment</a></h3>
                <input type="checkbox" value="1" name="appointment" style="display:none" />
                <div class="row">
                    @{
                        System.Collections.ObjectModel.ReadOnlyCollection<TimeZoneInfo> tz = TimeZoneInfo.GetSystemTimeZones();
                    }
                    <div id="schedule" class="col-md-12" style="display:none">
                        <div class="col-md-6 form-group" style="padding: 0;">
                            <label>Visit at</label><br>
                            <div class="col-md-12" style="display: -webkit-box;padding: 0;">
                                <input class="datepicker date form-control" style="width:120px" name="schedule_date" onkeydown="return false" placeholder="MM/dd/yyyy" required />
                                <input class="hours form-control" name="schedule_hours" type="number" min="1" max="12" maxlength="2" style="width:50px;padding-right: 7px;padding-left: 7px;" placeholder="hh" required />
                                <label class="" style="height: 34px;line-height: 27px;padding: 3px 0;margin: 0;width: 10px;text-align: center;">:</label>
                                <input class="minute form-control" name="schedule_minute" type="number" min="0" max="60" style="width:50px;padding-right: 7px;padding-left: 7px;" placeholder="mm" required />
                                <select class="am_pm form-control" name="schedule_am_pm" style="width:50px;padding:2px">
                                    <option value="AM">AM</option>
                                    <option value="PM">PM</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-6 form-group" style="padding: 0;">
                            <label>Time Zone</label><br>
                            <div class="col-md-12" style="display: -webkit-box;padding: 0;">
                                <select class="am_pm form-control" name="schedule_timezone" style="width:250px;padding:2px;">
                                    @foreach (var item in tz.ToList())
                                    {
                                        <option value="@item.DisplayName">@item.DisplayName</option>
                                    }
                                </select>
                            </div>
                        </div>
                        <div class="col-md-12" style="padding:0 ">
                            <label>Title</label>
                            <div class="form-group">
                                <input class="form-control" type="text" name="appoiment_title">
                            </div>
                        </div>
                        <div class="col-md-12" style="padding:0">
                            <label>Description</label>
                            <div class="form-group">
                                <textarea id="desc" class="form-control" wrap="soft" name="appoiment_description" rows="5"></textarea>
                            </div>
                        </div>
                        <div class="btn-group btn-group-toggle pull-left update_event_flag" data-toggle="buttons">
                            <label class="btn btn-secondary active btn-default">
                                <input type="radio" name="event_done" value="0" autocomplete="off" checked=""> Pending
                            </label>
                            <label class="btn btn-secondary btn-default">
                                <input type="radio" name="event_done" value="1" autocomplete="off"> Visited
                            </label>
                        </div>
                    </div>
                </div>

            </div>

            <div class="modal-footer">

                <a class="btn btn-default pull-left" data-dismiss="modal">Close</a>
                <button class="btn btn-success">
                    Save <img id="submit_img" src="~/Content/ajax-loaders/ajax-loader-1.gif" style="display:none" />
                </button>

            </div>
        </div>
    </div>

    <input type="hidden" value="" id="newsalon_form" name="newsalon_form" />
</form>



<script src="~/Content/Admin/plugins/input-mask/jquery.inputmask.js"></script>
@*<script src="~/Content/Admin/plugins/input-mask/jquery.inputmask.phone.extensions.js"></script>*@
@*<script src="~/Content/Admin/plugins/input-mask/jquery.inputmask.extensions.js"></script>*@

<script>
    var state = new Array();
    var country = new Array();
    $(function () {

        //Phone data-mask
        $('[data-mask]').inputmask()

        $("select[name=salonType]").change(function () {
            //  console.log($(this).val());
            if ($(this).val() == "THIS IS A NEW SALON") {
                $("#div_expected_open_date").show(300);
            }
            else {
                $("#div_expected_open_date").hide(300);
                $("input[name=expected_open_date]").val("");
            }
        });


        $('#merchant_estimete_modal').ajaxForm(function (data) {
            $('#submit_img').hide();
            if (data[0]) {
                noty({ "text": data[2], "layout": "topRight", "type": "success" });

                var from_page = $("#newsalon_form").val();

                //alert(from_page);

                if (from_page == "ticket") {
                    SaveComplete(data);
                }
                else if (from_page == "calendar") {
                    if (calendar) {
                        calendar.refetchEvents();
                    }
                }
                else if (from_page == "order") {
                    select_merchant(data[1].CustomerCode);
                }
                else {
                    refresh_list();
                }
                localStorage.removeItem("list_merchant");
                $('#merchant_estimete_modal').modal('hide');

            } else {
                noty({ "text": data[2], "layout": "topRight", "type": "error" });
            }
        });

        $('#merchant_estimete_modal').on('submit', function () {
            $('#submit_img').show();
        });
        $(".datepicker").datepicker({
            changeMonth: true,
            changeYear: true,
            dateFormat: 'mm/dd/yy'
        });
        $("#merchant_estimete_modal").on('hide.bs.modal', function () {
            $('#merchant_estimete_modal').resetForm();
        });


        $('#same').on("change", function () {
            if ($(this).is(":checked")) {
                $("#shipping_address input").not(this).attr("disabled", true);
            }
            else {
                $("#shipping_address input").removeAttr("disabled");
            }
        });


    });


    function openPopupNewMerchant() {

        $('#merchant_estimete_modal').modal('show');

        //Intl.DateTimeFormat().resolvedOptions().timeZone
        $.post("/home/getclienttimezone", { id: Intl.DateTimeFormat().resolvedOptions().timeZone }, function (data) {
            // alert(data);
            $("select[name=schedule_timezone]").val(data);
        });

        $.ajax({
            method: "POST",
            url: "/Merchantman/LoadListState",
            dataType: "json"
        })
            .done(function (data) {
                state = data[0];
                country = data[1];
                $("#state,.state").autocomplete({
                    source: data[0],
                    minLength: 0
                }).focus(function () {
                    $(this).autocomplete('search', $(this).val())
                });

                $("#country,.country").autocomplete({
                    source: data[1],
                    minLength: 0
                }).focus(function () {
                    $(this).autocomplete('search', $(this).val())
                });
            })
            .fail(function () {
            })
            .always(function () {
            });

    }



    $(function () {
        $("#schedule").find("input,select,textarea").attr("disabled", true);
    })
    function toggle_appointment() {
        $("input[name=appointment]").trigger("click");
        if ($("input[name=appointment]").is(":checked")) {
            $("#schedule").slideDown(200);
            $("#appointment_btn").removeClass("fa-plus").addClass("fa-minus");
            $("#appointment_btn").html(" No Apointment");
            $("#schedule").find("input,select,textarea").prop("disabled", false);
        } else {
            $("#schedule").slideUp(200);
            $("#appointment_btn").removeClass("fa-minus").addClass("fa-plus");
            $("#appointment_btn").html(" Add Apointment");
            $("#schedule").find("input,select,textarea").prop("disabled", true);
        }
    }



    function requeck_check(e) {
        if (e.checked) {
            var today = new Date();
            var dd = String(today.getDate()).padStart(2, '0');
            var mm = String(today.getMonth() + 1).padStart(2, '0'); //January is 0!
            var yyyy = today.getFullYear();
            today = mm + '/' + dd + '/' + yyyy;

            $("input[name='schedule_date']").val(today);
            $("input[name='schedule_hours']").val("09");
            $("input[name='schedule_minute']").val("00");
            $("#schedule input,#schedule select").attr("disabled", false);
        }
        else {
            $("input[name='schedule_date']").val("");
            $("input[name='schedule_hours']").val("");
            $("input[name='schedule_minute']").val("");
            $("select[name='schedule_am_pm']").val("am");
            $("#schedule input,#schedule select").attr("disabled", true);
        }
    }
</script>
<style>
    .ui-widget.ui-widget-content {
        z-index: 9999;
    }

    .datepicker:read-only:not(:disabled) {
        background-color: #fff;
    }

    input:disabled, select:disabled {
        background-color: #eee;
    }

    .rate {
        float: left;
        height: 46px;
        padding: 0;
        margin-top: -5px;
    }

        .rate:not(:checked) > input {
            position: absolute;
            top: -9999px;
        }

        .rate:not(:checked) > label {
            float: right;
            width: 1em;
            overflow: hidden;
            white-space: nowrap;
            cursor: pointer;
            font-size: 30px;
            color: #ccc;
        }

            .rate:not(:checked) > label:before {
                content: '★ ';
            }

        .rate > input:checked ~ label {
            color: #ffc700;
        }

        .rate:not(:checked) > label:hover,
        .rate:not(:checked) > label:hover ~ label {
            color: #deb217;
        }

        .rate > input:checked + label:hover,
        .rate > input:checked + label:hover ~ label,
        .rate > input:checked ~ label:hover,
        .rate > input:checked ~ label:hover ~ label,
        .rate > label:hover ~ input:checked ~ label {
            color: #c59b08;
        }
</style>
