@model IEnumerable<EnrichcousBackOffice.Models.CustomizeModel.C_Customer_select_view>
@using EnrichcousBackOffice.AppLB
<table id="subscribe_merchant_table" class="table table-bordered table-striped table-hover">
    <thead>
        <tr>
            <th>Ticket#</th>
            <th>Business</th>
            <th>Owner</th>
            <th>MID</th>
            <th>Processor Name</th>
            @*<th>Step</th>*@
            <th>Merchant status</th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr class="subscribe_@item.SubscribeId">
            <td>
                <a title="Click to view ticket" href="/ticket/detail/@item.TicketId" target="_blank"><strong>#@CommonFunc.view_TicketId(item.TicketId)</strong></a>
            </td>
            <td>
                <b style="color:green">@item.BusinessName</b><br />
                @item.BusinessPhone<br />
                @item.Address
            </td>
            <td>
                <b style="color:green">@item.OwnerName</b><br />

                @item.CellPhone<br />
                @item.OwnerEmail
            </td>
            <td>@item.MerChantId</td>
            <td>@item.ProccessorName</td>
            @*<td>
            <span class="pull-left"><i class="fa fa-check-square" style="color:green"></i> @item.CompletedStep/3 done</span>
            <span class="pull-right" style="color:green"><b>@(item.CompletedStep * 100 / 3)%</b></span>
            <div class="clearfix"></div>
            <div class="progress progress-xs">
                <div class="progress-bar progress-bar-success progress-bar-striped" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: @(item.CompletedStep*100/3)%">
                    <span class="sr-only">@(item.CompletedStep * 100 / 3)% Complete (success)</span>
                </div>
            </div>
        </td>*@
        <td>
            @if (item.MerchantStatus == "active")
            {
                <span class="label label-success">@item.MerchantStatus</span>
            }
            else if (item.MerchantStatus == "closed")
            {
                <span class="label label-info">@item.MerchantStatus</span>
            }
            else
            {
                <span class="label label-warning">@item.MerchantStatus</span>
            }
        </td>
            <td><a class="btn btn-warning" onclick="SelectMerchant('@item.Id')" title="View/Update"><i class="fa fa-pencil"></i></a></td>
            <td>
            <a class="btn btn-danger" onclick="DeleteNuveiOnBoarding('@item.SubscribeId', '@item.MerChantCode')" title="Delete"><i class="fa fa-trash"></i></a>
        </td>
        </tr>
        }
    </tbody>
</table>

