@model IEnumerable<EnrichcousBackOffice.Models.CustomizeModel.LicensesItemGroup>
@using EnrichcousBackOffice.Models
@using EnrichcousBackOffice.AppLB
@{
    ViewBag.Title = "Licenses";
    Dictionary<string, bool> p = ViewBag.p;
}
<section class="content-header">
    <h1>
        Licenses Items
        <small>Licenses Management</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="/home"><i class="fa fa-dashboard"></i> Dashboard</a></li>
        <li><i class="fa fa-television"></i> Licenses Management</li>
        <li class="active">Licenses Items</li>
    </ol>
</section>
<!-- Main content -->
<section class="content">
    <div class="row">

        @if (TempData["error"] != null)
        {
            <div class="alert alert-warning alert-dismissible">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                <span><i class="icon fa fa-warning"></i> @TempData["error"]</span>
            </div>
        }
        else if (TempData["success"] != null)
        {
            <div class="alert alert-success alert-dismissible">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                <span><i class="icon fa fa-check"></i> @TempData["success"]</span>
            </div>
        }

        <div class="col-md-12">
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">Licenses Items</h3>
                    <div class="pull-right box-tools"><a onclick="new_group()" class="btn btn-primary btn-sm"><i class="fa fa-plus"></i> New group</a></div>
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    <table class="table table-bordered table-striped table-hover">
                        <colgroup>
                            <col style="width: 50px;" />
                            <col style="width: 50px;" />
                            <col style="width: 400px;" />
                            <col style="width: 80px;" />
                        </colgroup>
                        <thead>
                            <tr style="background-color: #a3cbe2">
                                <th colspan="3">
                                    Name
                                </th>
                                <th>
                                Enable
                                </th>
                                <th>
                                    Type
                                </th>
                                <th>
                                Description
                                </th>
                            </tr>
                        </thead>
                        <tbody id="licenses-item">
                            @foreach (var group in Model)
                            {
                                <tr>
                                    <td colspan="3">
                                        <div class="row col-md-12">
                                            <div class="pull-left">
                                                <h3 id="group_name_@group.Group.ID" class="pull-left" style="margin:0">@group.Group.Name</h3>
                                            </div>
                                            @if (group.Group.ID != 1000000)
                                            {
                                                <div class="pull-right btn_group" style="visibility:hidden">
                                                    <button onclick="edit_group('@group.Group.ID')" class="btn btn-success btn-sm" style="margin-right:10px"><i class="fa fa-pencil" style="font-size:1.5em"></i></button>
                                                    <button onclick="delete_group('@group.Group.ID')" class="btn btn-danger btn-sm" style="margin-right:10px"><i class="fa fa-trash" style="font-size:1.5em"></i></button>
                                                </div>
                                            }
                                        </div>
                                        @*<div class="row col-md-12" style="padding:10px 30px">
                                                <label class="pull-left">For: </label>
                                                <div style="margin:0 10px;" class="pull-left">
                                                    <label class="switch" style="vertical-align: text-top;">
                                                        <input id="option1_@group.Group.ID" type="checkbox" onchange="change_option('@group.Group.ID')" @if ((group.Group.Options ?? string.Empty).Contains("Product")) { @Html.Raw("checked") }>
                                                        <span class="slider round"></span>
                                                    </label>
                                                    <label for="option1_@group.Group.ID" style="font-weight:normal; cursor:pointer">Product</label>
                                                </div>
                                                <div style="margin:0 10px;" class="pull-left">
                                                    <label class="switch" style="vertical-align: text-top;">
                                                        <input id="option2_@group.Group.ID" type="checkbox" onchange="change_option('@group.Group.ID')" @if ((group.Group.Options ?? string.Empty).Contains("Addon")) { @Html.Raw("checked") }>
                                                        <span class="slider round"></span>
                                                    </label>
                                                    <label for="option2_@group.Group.ID" style="font-weight:normal; cursor:pointer">Addon</label>
                                                </div>

                                            </div>*@
                                    </td>
                                    <td></td>
                                    <td>
                                    </td>
                                    <td></td>
                                </tr>

                                <tr id="new_item_@group.Group.ID">
                                    <td></td>
                                    <td></td>
                                    @if (group.Group.ID != 1000000)
                                    {
                                        <td><a onclick="new_item('@group.Group.ID')"><i class="fa fa-plus"></i> New item</a></td>
                                    }
                                    else
                                    {
                                        <td>
                                            <form id="update_Feature" action="/Licenses/UpdateMangoPosFeature" method="get">
                                                <button class="btn btn-secondary" type="submit" onclick="overlayOn()">
                                                    <img id="loading" src="/Content/ajax-loaders/ajax-loader-1.gif" style="display:none">
                                                    Update Feature from Simply Pos
                                                </button>
                                            </form>
                                        </td>
                                    }
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                foreach (var item in group.Items)
                                {
                                    <tr class="group_@group.Group.ID item" id="item_@item.ID">
                                        <td></td>
                                        <td></td>
                                        <td>
                                            <span id="item_name_@item.ID">@item.Name</span>
                                            <div class="pull-right btn_group" style="visibility:hidden">
                                                <a onclick="edit_item('@item.ID')" class="btn btn-default fa fa-pencil text-green" title="Edit" style="font-size:1.2em; padding:2px 10px"></a>
                                                @if (item.BuiltIn != true)
                                                {
                                                    <a onclick="delete_item('@item.ID')" class="btn btn-default fa fa-trash-o text-red" title="Remove" style="font-size:1.2em; padding:2px 10px"></a>
                                                }
                                            </div>
                                        </td>
                                        <td>
                                            @if (item.BuiltIn == true)
                                            {
                                                <label class="switch " style="vertical-align: text-top;">
                                                    <input id="enable_@item.ID" type="checkbox" @if (item.Enable == true) { @Html.Raw("checked") } disabled>
                                                    <span class="slider round" style="cursor: no-drop"></span>
                                                </label>
                                            }
                                            else
                                            {
                                                <label class="switch" style="vertical-align: text-top;">
                                                    <input id="enable_@item.ID" type="checkbox" onchange="enable_item('@item.ID')" @if (item.Enable == true) { @Html.Raw("checked") }>
                                                    <span class="slider round"></span>
                                                </label>
                                            }
                                        </td>
                                        <td id="select_licensetype_@item.ID">
                                            <select class="form-control input-sm" style="font-size:14px" onchange="change_licensetype('@item.ID', this.value)" @(item.BuiltIn == true ? "disabled" : "")>
                                                <option value="FEATURE" @if (item.Type == "FEATURE") { @Html.Raw("selected") }>FEATURE</option>
                                                <option value="COUNT" @if (item.Type == "COUNT") { @Html.Raw("selected") }>COUNT</option>
                                            </select>
                                        </td>
                                        <td id="item_desc_@item.ID">
                                            @item.Description
                                        </td>
                                    </tr>
                                }


                                foreach (var childgroup in group.ChildGroups)
                                {
                                    <tr class="group_@group.Group.ID group_@childgroup.Group.ID">
                                        <td></td>
                                        <td colspan="2" onclick="edit_group('@childgroup.Group.ID')">
                                            <b id="group_name_@childgroup.Group.ID" class="pull-left">@childgroup.Group.Name</b>
                                            <div class="pull-right btn_group" style="visibility:hidden">
                                                <a onclick="delete_group('@childgroup.Group.ID')" class="btn btn-default fa fa-trash-o text-red pull-right on_row" style="font-size:1.5em; padding:2px 10px"></a>
                                                <a class="btn btn-default fa fa-pencil text-green pull-right" style="font-size:1.5em; padding:2px 10px"></a>
                                            </div>

                                        </td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                    </tr>

                                    foreach (var item in childgroup.Items)
                                    {
                                        <tr class="group_@group.Group.ID group_@childgroup.Group.ID" id="item_@item.ID">
                                            <td></td>
                                            <td></td>
                                            <td>
                                                <span id="item_name_@item.ID">@item.Name</span>
                                                @if (item.BuiltIn != true)
                                                {
                                                    <div class="pull-right btn_group" style="visibility:hidden">
                                                        <a onclick="edit_item('@item.ID')" class="btn btn-default fa fa-pencil text-green" style="font-size:1.2em; padding:2px 10px"></a>
                                                        <a onclick="delete_item('@item.ID')" class="btn btn-default fa fa-trash-o text-red" style="font-size:1.2em; padding:2px 10px"></a>
                                                    </div>
                                                }
                                            </td>
                                            <td>
                                                <div style="margin:0 10px;" class="pull-left">
                                                    @if (item.BuiltIn == true)
                                                    {
                                                        <label class="switch disabled" style="vertical-align: text-top;">

                                                            <span class="slider round"></span>
                                                        </label>
                                                    }
                                                    else
                                                    {
                                                        <label class="switch" style="vertical-align: text-top;">
                                                            <input id="enable_@item.ID" type="checkbox" onchange="enable_item('@item.ID')" @if (item.Enable == true) { @Html.Raw("checked") }>
                                                            <span class="slider round"></span>
                                                        </label>
                                                    }
                                                </div>
                                            </td>

                                            @*<td>
                                                    <select class="form-control" onchange="change_type('@item.ID', this.value)" >
                                                        @foreach (var type in Enum.GetValues(typeof(UserContent.LICENSES_ITEM_TYPES)))
                                                        {
                                                            <option value="@type.ToString()" @if (@type.ToString() == item.Type) { @Html.Raw("selected") }>@type.ToString()</option>
                                                        }
                                                    </select>
                                                </td>*@
                                            <td>
                                                <select class="form-control input-sm" style="font-size:14px" onchange="change_licensetype('@item.ID', this.value)" @(item.BuiltIn == true ? "disabled" : "")>
                                                    <option value="FEATURE" @if (item.Type == "FEATURE") { @Html.Raw("selected") }>FEATURE</option>
                                                    <option value="COUNT" @if (item.Type == "COUNT") { @Html.Raw("selected") }>COUNT</option>
                                                </select>
                                            </td>
                                            <td id="item_desc_@item.ID">
                                                @item.Description
                                            </td>
                                        </tr>
                                    }
                                    <tr id="new_item_@childgroup.Group.ID" class="group_@group.Group.ID group_@childgroup.Group.ID">
                                        <td></td>
                                        <td></td>
                                        <td><a onclick="new_item('@childgroup.Group.ID','@group.Group.ID')"><i class="fa fa-plus"></i> New item</a></td>
                                        <td>
                                        </td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                }
                                <tr class="group_@group.Group.ID">
                                    <td></td>
                                    @if (group.Group.ID != 1000000)
                                    {
                                        <td colspan="5"><a onclick="new_group('@group.Group.ID')" class="btn btn-success btn-sm"><i class="fa fa-plus"></i> Add child group</a></td>
                                    }

                                </tr>
                            }
                            @*<tr id="new_group_row">
                                    <td colspan="6"><a class="btn btn-primary" onclick="new_group()"><i class="fa fa-plus"></i> New group</a></td>
                                </tr>*@
                        </tbody>
                    </table>
                </div>
                <!-- /.box-body -->
            </div>
            <!-- /.box -->
        </div>
    </div>
</section>
<!--tempplate-->
<div class="modal fade in" id="popup" style="display: none;">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
                <h4 id="modal-department-title" class="modal-title">Edit</h4>
            </div>
            <form id="Edit_Item" action="/Licenses/SaveItem" method="post">
                <div class="modal-body">
                    <input type="hidden" id="id" name="id" />
                    <input type="hidden" id="groupid" name="groupid" />
                    <input type="hidden" id="parentgroupid" name="parentgroupid" />
                    <div class="row">
                        <div class="col-md-12" style="padding-bottom:20px">
                            <label>Code <span style="color:red">*</span></label>
                            <input id="code" name="Code" pattern="[a-zA-z0-9_]+" class="form-control" required />
                        </div>
                        <div class="col-md-6" style="padding-bottom:20px">
                            <label>Name <span style="color:red">*</span></label>
                            <input id="name" name="Name" class="form-control" required />
                        </div>
                        <div class="col-md-6" style="padding-bottom:20px">
                            <label>Type <span style="color:red">*</span></label>
                            <select id="Type" name="Type" class="form-control" required>
                                <option value="FEATURE">FEATURE</option>
                                <option value="COUNT">COUNT</option>
                            </select>
                        </div>
                        <div class="col-md-12" style="padding-bottom:20px">
                            <label>Description</label>
                            <textarea id="description" name="Description" class="form-control"></textarea>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">
                        <img id="loading" src="/Content/ajax-loaders/ajax-loader-1.gif" style="display:none"> Save
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
<table style="display:none">
    <tbody id="item_template">
        <tr class="group_{groupID} item" id="item_{itemID}">
            <td></td>
            <td></td>
            <td>
                <span id="item_name_{itemID}">{itemName}</span>
                <div class="pull-right btn_group" style="visibility:hidden">
                    <a onclick="edit_item('{itemID}')" class="btn btn-default fa fa-pencil text-green" style="font-size:1.2em; padding:2px 10px"></a>
                    <a onclick="delete_item('{itemID}')" class="btn btn-default fa fa-trash-o text-red" style="font-size:1.2em; padding:2px 10px"></a>
                </div>

            </td>
            <td>
                <div style="margin:0 10px;" class="pull-left">
                    <label class="switch" style="vertical-align: text-top;">
                        <input id="enable_{itemID}" type="checkbox" onchange="enable_item('{itemID}')" checked />
                        <span class="slider round"></span>
                    </label>
                </div>
            </td>
            @*<td id="select_type_{itemID}">
                    <select class="form-control input-sm" style="font-size:14px" onchange="change_type('{itemID}', this.value)">
                        @foreach (var type in Enum.GetValues(typeof(UserContent.LICENSES_ITEM_TYPES)))
                        {
                            <option value="@type.ToString()">@type.ToString()</option>
                        }
                    </select>
                </td>*@
            <td id="select_licensetype_{itemID}">
                <select class="form-control input-sm" style="font-size:14px" onchange="change_licensetype('{itemID}', this.value)">
                    <option value="FEATURE">FEATURE</option>
                    <option value="COUNT">COUNT</option>
                </select>
            </td>
            <td id="item_desc_{itemID}">
                {itemDesc}
            </td>
        </tr>
    </tbody>
    <tbody id="group_template">
        <tr class="group_{groupID}">
            <td colspan="3">
                <div class="row col-md-12">
                    <div class="pull-left">
                        <h3 id="group_name_{groupID}" class="pull-left" style="margin:0">{groupName}</h3>
                    </div>

                    <div class="pull-right btn_group" style="visibility:hidden">
                        <button onclick="edit_group('{groupID}')" class="btn btn-success btn-sm" style="margin-right:10px"><i class="fa fa-pencil" style="font-size:1.5em"></i></button>
                        <button onclick="delete_group('{groupID}')" class="btn btn-danger btn-sm" style="margin-right:10px"><i class="fa fa-trash" style="font-size:1.5em"></i></button>
                    </div>
                </div>
                @*<div class="row col-md-12" style="padding:10px 30px">
                        <label class="pull-left">For: </label>
                        <div style="margin:0 10px;" class="pull-left">
                            <label class="switch" style="vertical-align: text-top;">
                                <input id="option1_{groupID}" type="checkbox" onchange="change_option('{groupID}')" checked>
                                <span class="slider round"></span>
                            </label>
                            <label for="option1_{groupID}" style="font-weight:normal; cursor:pointer">Product</label>
                        </div>
                        <div style="margin:0 10px;" class="pull-left">
                            <label class="switch" style="vertical-align: text-top;">
                                <input id="option2_{groupID}" type="checkbox" onchange="change_option('{groupID}')">
                                <span class="slider round"></span>
                            </label>
                            <label for="option2_{groupID}" style="font-weight:normal; cursor:pointer">Addon</label>
                        </div>

                    </div>*@
            </td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr id="new_item_{groupID}" class="group_{groupID}">
            <td></td>
            <td></td>
            <td><a onclick="new_item('{groupID}')"><i class="fa fa-plus"></i> New item</a></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr class="group_{groupID}">
            <td></td>
            <td colspan="5"><a onclick="new_group('{groupID}')" class="btn btn-success btn-sm"><i class="fa fa-plus"></i> Add child group</a></td>
        </tr>
    </tbody>
    <tbody id="child_group_template">
        <tr class="group_{parentID} group_{groupID}">
            <td></td>
            <td colspan="2" onclick="edit_group('{groupID}')">
                <b id="group_name_{groupID}" class="pull-left">{groupName}</b>
                <div class="pull-right btn_group" style="visibility:hidden">
                    <a onclick="delete_group('{groupID}')" class="btn btn-default fa fa-trash-o text-red pull-right on_row" style="font-size:1.5em; padding:2px 10px"></a>
                    <a class="btn btn-default fa fa-pencil text-green pull-right" style="font-size:1.5em; padding:2px 10px"></a>
                </div>

            </td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr id="new_item_{groupID}" class="group_{parentID} group_{groupID}">
            <td></td>
            <td></td>
            <td><a onclick="new_item('{groupID}')"><i class="fa fa-plus"></i> New item</a></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
    </tbody>
</table>
<script type="text/javascript">

    function edit_group(id) {
        var name = $('#group_name_' + id).html();
        var newname = prompt("Group name: ", name);
        if (newname == "") {
            noty({ "text": "Group name can't be empty!", "layout": "topRight", "type": "error" });
        }
        if (newname) {
            $.ajax({
                method: "POST",
                url: "/Licenses/EditGroup",
                data: { id, newname },
                dataType: "json"
            })
                .done(function (data) {
                    if (data[0]) {
                        noty({ "text": data[1], "layout": "topRight", "type": "success" });
                        $("#group_name_" + id).html(newname);
                    } else {
                        noty({ "text": data[1], "layout": "topRight", "type": "error" });
                    }
                })
                .fail(function () {
                    alert("edit_group falure");
                })
                .always(function () {
                });

        };
    }

    function delete_group(id) {
        var name = $('#group_name_' + id).html();
        if (confirm('Deleting the group also deletes all its elements. Do you want to delete "' + name + '" group?')) {
            $.ajax({
                method: "POST",
                url: "/Licenses/DeleteGroup",
                data: { id },
                dataType: "json"
            })
                .done(function (data) {
                    if (data[0]) {
                        noty({ "text": data[1], "layout": "topRight", "type": "success" });
                        $(".group_" + id).hide();
                    } else {
                        noty({ "text": data[1], "layout": "topRight", "type": "error" });
                    }
                })
                .fail(function () {
                })
                .always(function () {
                });

        }
    }
    function delete_item(id) {
        var name = $('#item_name_' + id).html();
        if (confirm('Do you want to delete "' + name + '" item?')) {
            $.ajax({
                method: "POST",
                url: "/Licenses/DeleteItem",
                data: { id },
                dataType: "json"
            })
                .done(function (data) {
                    if (data[0]) {
                        noty({ "text": data[1], "layout": "topRight", "type": "success" });
                        $("#item_" + id).hide();
                    } else {
                        noty({ "text": data[1], "layout": "topRight", "type": "error" });
                    }
                })
                .fail(function () {
                })
                .always(function () {
                });

        }
    }
    function new_group(parentID = null) {
        var newname = prompt("New group name: ");
        if (newname == "") {
            noty({ "text": "Group name can't be empty!", "layout": "topRight", "type": "error" });
        }
        if (newname) {
            $.ajax({
                method: "POST",
                url: "/Licenses/NewGroup",
                data: { newname, parentID },
                dataType: "json"
            })
                .done(function (data) {
                    if (data[0]) {
                        noty({ "text": data[1], "layout": "topRight", "type": "success" });
                        if (!parentID) {
                            var e_group = $("#group_template").html();
                            e_group = e_group.replace(/{groupID}/g, data[2]).replace(/{groupName}/g, data[3]);
                            $(e_group).insertBefore("#new_group_row");
                        } else {
                            var e_group = $("#child_group_template").html();
                            e_group = e_group.replace(/{groupID}/g, data[2]).replace(/{groupName}/g, data[3]).replace(/{parentID}/g, parentID);
                            $(e_group).insertBefore($(".group_" + parentID).last());
                        }
                        load_event();
                    } else {
                        noty({ "text": data[1], "layout": "topRight", "type": "error" });
                    }
                })
                .fail(function () {
                    alert("new_group failure")
                })
                .always(function () {
                });
        };
    }

    function change_type(ItemID, type) {
        $.ajax({
            method: "POST",
            url: "/Licenses/ChangeItemType",
            data: { ItemID, type },
            dataType: "json"
        })
            .done(function (data) {
                if (data[0]) {
                    noty({ "text": data[1], "layout": "topRight", "type": "success" });
                } else {
                    noty({ "text": data[1], "layout": "topRight", "type": "error" });
                }
            })
            .fail(function () {
            })
            .always(function () {
            });
    }
    function change_licensetype(ItemID, l_type) {
        $.ajax({
            method: "POST",
            url: "/Licenses/ChangeItemLicenseType",
            data: { ItemID, l_type },
            dataType: "json"
        })
            .done(function (data) {
                if (data[0]) {
                    noty({ "text": data[1], "layout": "topRight", "type": "success" });
                } else {
                    noty({ "text": data[1], "layout": "topRight", "type": "error" });
                }
            })
            .fail(function () {
            })
            .always(function () {
            });
    }
    function change_option(GroupID) {
        var isProduct = $("#option1_" + GroupID).is(":checked");
        var isAddon = $("#option2_" + GroupID).is(":checked");
        $.ajax({
            method: "POST",
            url: "/Licenses/ChangeOptions",
            data: { GroupID, isProduct, isAddon },
            dataType: "json"
        })
            .done(function (data) {
                if (data[0]) {
                    noty({ "text": data[1], "layout": "topRight", "type": "success" });
                } else {
                    noty({ "text": data[1], "layout": "topRight", "type": "error" });
                }
            })
            .fail(function () {
            })
            .always(function () {
            });
    }
    load_event();
    function load_event() {
        $(".on_row").on('click', function (event) {
            event.stopPropagation();
        })
        $("tr").hover(
            function () {
                $(this).find(".btn_group").css({ opacity: 0.0, visibility: "visible" }).animate({ opacity: 1.0 });
            },
            function () {
                $(this).find(".btn_group").css({ opacity: 0.0, visibility: "hidden" }).animate({ opacity: 1.0 });
            }
        )
    }
    function enable_item(id) {
        var is_enable = $("#enable_" + id).is(":checked");
        $.ajax({
            method: "POST",
            url: "/Licenses/EnableItem",
            data: { id, is_enable },
            dataType: "json"
        })
            .done(function (data) {
                if (data[0]) {
                    noty({ "text": data[1], "layout": "topRight", "type": "success" });
                } else {
                    noty({ "text": data[1], "layout": "topRight", "type": "error" });
                }
            })
            .fail(function () {
            })
            .always(function () {
            });
    }

</script>
<script type="text/javascript">
    function new_item(GroupID, parentGroupID = null) {
        $("#Edit_Item").resetForm();
        $("#Edit_Item").find("[type=hidden]").val("");
        $("#groupid").val(GroupID);
        $("#parentgroupid").val(parentGroupID);
        $("#popup").find(".modal-title").html("New Licenses Item");
        $("#popup").modal("show");

    }
    function edit_item(id) {

        $("#Edit_Item").resetForm();
        $("#Edit_Item").find("[type=hidden]").val("");
        $.ajax({
            method: "POST",
            url: "/Licenses/GetLicensesItem",
            data: { id },
            dataType: "json"
        })
            .done(function (data) {
                if (data[0]) {
                    $.each(data[3], function (key, value) {
                        var input = $("#Edit_Item").find("[name=" + key + "]");
                        if (value)
                            input.val(value);
                    });
                    $("#id").val(data[1]);
                    $("#groupid").val(data[2]);
                    $("#popup").find(".modal-title").html("Edit Licenses Item");

                    if (data[2] == 1000000) {
                        $('#Edit_Item #code').attr("disabled", "disabled");
                        $('#Edit_Item #Type').attr("disabled", "disabled");
                    }

                    $("#popup").modal("show");
                } else {
                    noty({ "text": data[1], "layout": "topRight", "type": "error" });
                }
            })
            .fail(function () {
                alert("edit_item falure");
            })
            .always(function () {
            });

    }
    $("#Edit_Item").ajaxForm(function (data) {
        var parentGroupID = $("#parentgroupid").val();
        var id = $("#id").val();
        var groupID = $("#groupid").val();
        if (data[0] == 1) {
            noty({ "text": data[1], "layout": "topRight", "type": "success" });
            var e_item = $("#item_template").html();
            e_item = e_item.replace(/{groupID}/g, groupID).replace(/{itemID}/g, data[2]).replace(/{itemName}/g, data[3].Name).replace(/{itemDesc}/g, data[3].Description || "");

            var e = $(e_item).insertBefore("#new_item_" + groupID);
            if (parentGroupID) {
                $(e).addClass("group_" + parentGroupID);
            }
            $("#select_licensetype_" + data[2] + " select").val(data[3].Type);
            load_event();
        }
        else if (data[0] == 2) {
            noty({ "text": data[1], "layout": "topRight", "type": "success" });
            $("#item_name_" + id).html(data[2].Name);
            $("#item_desc_" + id).html(data[2].Description);
            $("#select_licensetype_" + id + " select").val(data[2].Type);
        } else {
            noty({ "text": data[1], "layout": "topRight", "type": "error" });
        }
        $("#popup").modal("hide");
    });

    $("#update_Feature").ajaxForm(function (data) {
        if (data[0] == true) {
            $('.group_' + data[2][0].GroupID).html("");
            data[2].forEach(function (item) {
                var texthtml =
                    `<tr class="group_${item.GroupID} item" id="${item.ID}">
                    <td></td>
                    <td></td>
                    <td>
                        <span id="item_name_${item.ID}">${item.Name}</span>
                        <div class="pull-right btn_group" style="visibility:hidden">
                            <a onclick="edit_item('${item.ID}')" class="btn btn-default fa fa-pencil text-green" title="Edit" style="font-size:1.2em; padding:2px 10px"></a>
                        </div>
                    </td>
                    <td>
                        <label class="switch " style="vertical-align: text-top;">
                            <input id="enable_${item.ID}" type="checkbox" ${item.Enable == true ? 'checked' : ''} disabled>
                            <span class="slider round" style="cursor: no-drop"></span>
                        </label>
                    </td>
                    <td id="select_licensetype_${item.ID}">
                        <select class="form-control input-sm" style="font-size:14px" disabled >
                            <option value="FEATURE" ${item.Type == 'COUNT' ? '' : 'selected'}>FEATURE</option>
                            <option value="COUNT" ${item.Type == 'FEATURE' ? '' : 'selected'}>COUNT</option>
                        </select>
                    </td>
                    <td id="item_desc_${item.ID}">
                        ${item.Description}
                    </td>
                </tr>`;
                $('#licenses-item').append(texthtml);
            });
            $("tr").hover(
                function () {
                    $(this).find(".btn_group").css({ opacity: 0.0, visibility: "visible" }).animate({ opacity: 1.0 });
                },
                function () {
                    $(this).find(".btn_group").css({ opacity: 0.0, visibility: "hidden" }).animate({ opacity: 1.0 });
                }
            )
            noty({ "text": data[1], "layout": "topRight", "type": "success" });
        }
        else
            noty({ "text": data[1], "layout": "topRight", "type": "error" });
        overlayOff();
    })
</script>

