@model EnrichcousBackOffice.Models.SystemConfiguration
@using EnrichcousBackOffice.Areas.Page.Models.Customize

@{
    var company_address = Model?.CompanyAddress?.Split('|');
    var data = Session["RefundFormData"] as FormModel.RefundForm_Data;
    var today = DateTime.Now;
}


@if (ViewBag.Error != null)
{
    <p class="text-center"><b>@ViewBag.Error</b></p>
}
else
{
    <form id="RefundForm" action="/Page/MerchantFormHandle/ChangeData_Refund" @if (ViewBag.Update == "true") { @Html.Raw("style='font-size:16px'")  ; } else { @Html.Raw("style='font-size:14px'") ; }>
        <div id="refund">
            <header>
                <div class="container">
                    <div class="row">
                        <div class="col-md-8 col-xs-8">
                            <img src="/Areas/Page/Content/img/logo_enrichcous.png" height="50">
                            <ul style="padding-left:0px;">
                                <li>@(company_address[0])</li>
                                <li>@(company_address[1]), @(company_address[2]) @(company_address[3])</li>
                                <li style="color: #337ab7; text-decoration: underline;"> www.enrichcous.com</li>
                                <li>@(String.Format("{0:(###) ####-####}", double.Parse(Model?.CompanyHotline)))</li>
                            </ul>
                        </div>
                        <div id="h3-right" class="col-md-4 col-xs-4 text-right">
                            <h3 style="font-size: 35px;">REFUND</h3>
                            <ul>
                                <li>Refund #: <span>@(data?.RefundCode ?? "__________")</span></li>
                                <li>Customer ID: <span>@(data?.MerchantCode)</span></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <input type="hidden" name="MerchantCode" value="@(data?.MerchantCode)" />
                <input type="hidden" name="OrderCode" value="@(data?.OrderCode)" />
            </header>
            <div class="container" style="height: 1215px;">
                <br /><br />
                <div class="row">
                    <div class="info col-md-12 col-xs-12">
                        <p>Date: @(today.ToString("dd MMM yyyy"))</p>
                        <div class="input-group">
                            <div class="input-group-addon">
                                <span class="input-group-text">DBA Name</span>
                            </div>
                            <input type="text" class="form-control DBA_name" name="BusinessName" value="@(data?.BusinessName)" onblur="changeData('BusinessName')">
                        </div>
                        <div class="input-group">
                            <div class="input-group-addon">
                                <span class="input-group-text">Owner Name:</span>
                            </div>
                            <input type="text" class="form-control owner" name="OwnerName" value="@(data?.OwnerName?.ToUpper())" onblur="changeData('OwnerName')">
                        </div>
                        <div class="input-group">
                            <div class="input-group-addon">
                                <span class="input-group-text">Salon street address:</span>
                            </div>
                            <input type="text" class="form-control" name="BusinessStreetAddress" value="@(data?.BusinessStreetAddress)" onblur="changeData()">
                        </div>
                        <div class="input-group">
                            <div class="input-group-addon">
                                <span class="input-group-text">City, ST ZIP: </span>
                            </div>
                            <input type="text" class="form-control" name="csz" value="@(data?.BusinessCity), @(data?.BusinessState), @(data?.BusinessZip)" onblur="changeData()">
                        </div>
                        <div class="input-group">
                            <div class="input-group-addon">
                                <span class="input-group-text">Refund amount: $</span>
                            </div>
                            <input type="number" class="form-control" name="RefundAmount" value="@(data?.RefundAmount?.ToString("#,##0.#0"))" onblur="changeData()">
                        </div>
                        <br />
                        <div class="input-group">
                            <div class="input-group-addon">
                                <span class="input-group-text">RE: </span>
                                @if (ViewBag.Update == "false")
                                {
                                    <select style="padding-left:10px; padding-right:10px" id="refund_reason" name="Reason" onchange="changeData('Reason')">
                                        <option value="Reimbursement">Reimbursement</option>
                                        <option @if (data?.Reason == "Refund") { @Html.Raw("selected") } value="Refund">Refund</option>
                                        <option @if (data?.Reason == "Credit") { @Html.Raw("selected") } value="Credit">Credit</option>
                                    </select>
                                }
                            </div>
                            <input type="text" class="form-control" name="Subject" value="@(string.IsNullOrEmpty(data?.Subject) ? "Reimbursement" : data?.Subject)" onblur="changeData()" placeholder="[SUBJECT]">
                        </div>
                        <div class="input-group">
                            <div class="input-group-addon">
                                <span class="input-group-text">Dear </span>
                            </div>
                            <input type="text" class="form-control owner" style="width:50%" name="OwnerName1" value="@(data?.OwnerName?.ToUpper())" onblur="changeData('OwnerName1')">
                        </div>

                        <div style="margin-top:10px">
                            @if (ViewBag.Update == "true")
                            {
                                <p style="padding-left:40px">- @(string.IsNullOrEmpty(data?.Content) ? Html.Raw(data?.Reason + " for invoice #" + data?.OrderCode) : Html.Raw(data?.Content?.Replace("\r\n", "<br/>")))</p>
                            }
                            else
                            {
                                <textarea name="Content" style="width:100%;" rows="4" wrap="soft" onblur="changeData()" placeholder="Ex: [REASON: Reimbursement, refund, credit] for invoice [# of inv]">@(string.IsNullOrEmpty(data?.Content) ? Html.Raw("Reimbursement for invoice #" + data?.OrderCode) : Html.Raw(data?.Content?.Replace("\r\n", "<br/>")))</textarea>
                            }
                        </div>
                        <p>Please contact us if you have any questions</p>
                    </div>
                </div>
            </div>
            <footer>
                <div class="container">
                    <div class="row">
                        <div class="col-md-5 col-xs-5">
                            <div class="input-group">
                                <div class="input-group-addon">
                                    <span class="input-group-text">MID:</span>
                                </div>
                                <input type="text" class="form-control" name="MID" value="@(data?.MID)">
                            </div>
                            <div class="input-group">
                                <div class="input-group-addon">
                                    <span class="input-group-text">DBA:</span>
                                </div>
                                <input type="text" class="form-control DBA_name" name="BusinessName1" value="@(data?.BusinessName)" onblur="changeData('BusinessName1')">
                            </div>
                        </div>
                        <div class="col-md-1 col-xs-1"></div>
                        <div class="col-md-6 col-xs-6 text-right">
                            <span style="color: #337ab7">@(today.ToString("dd MMM yyyy HH:mm"))</span><br />
                            <span>Form Version:</span><span style="color: #337ab7"> 1911.01</span>
                        </div>
                    </div>
                </div>
            </footer>
        </div>
    </form>

    <style type="text/css">
        .h1, h1 {
            font-size: 25px;
        }

        .h2, h2 {
            font-size: 23px;
        }

        .h3, h3 {
            font-size: 20px;
        }

        .h1, .h2, .h3, h1, h2, h3 {
            font-weight: bold;
            color: #4c4c4e;
        }

        .container h3 {
            text-decoration: underline;
        }

        ul {
            list-style-type: none;
        }

        .input-group-text {
            font-weight: bold;
        }

        .input-group-addon {
            padding: 6px 5px;
            font-size: 14px;
            font-weight: 400;
            line-height: 1;
            color: #555;
            text-align: center;
            background-color: transparent;
            border: none;
        }

        .form-control, .form-control-date {
            font-family: inherit;
            width: 100%;
            border: 0;
            border-bottom: 1px solid #505050;
            outline: 0;
            font-size: 14px;
            padding: 7px 0 2px 0;
            background: transparent;
            border-radius: 0px;
            box-shadow: none;
            height: 25px;
            /*font-weight: bold;*/
        }

            .form-control:focus {
                border-bottom: 1px solid #505050;
                outline: 0;
                box-shadow: none;
            }

        .form-control-date {
            width: 10%;
        }

        .form-control[disabled] {
            background-color: transparent;
        }

        @@media (max-width: 900px) {
            .h1, h1 {
                font-size: 20px;
                margin-bottom: 5px;
                padding-left: 15px;
                padding-right: 15px;
            }

            .h2, h2 {
                font-size: 20px;
                margin-top: 0;
                padding-left: 15px;
                padding-right: 15px;
            }

            .h3, h3 {
                font-size: 18px;
            }
        }

        .form-control[disabled], fieldset[disabled] .form-control {
            cursor: DEFAULT;
        }
    </style>

}

<script type="text/javascript">
    function changeData(input_name) {
        if (input_name != undefined) {
            if (input_name.search("BusinessName") == 0) {
                let value = $("input[name='" + input_name + "']").val();
                $(".DBA_name").val(value);
            }

            if (input_name.search("OwnerName") == 0) {
                let value = $("input[name='" + input_name + "']").val();
                $(".owner").val(value);
            }

            if(input_name == "Reason") {
                let orderCode = $("input[name='OrderCode']").val();
                let reason = $("select[name='Reason']").val();
                $("input[name='Subject']").val(reason);
                $("textarea[name='Content']").val(reason + " for invoice #" + orderCode);
            }
        }

        $("#RefundForm").submit();
    }

    $("#RefundForm").submit(function (e) {
        e.preventDefault(); //avoid to execute the actual submit of the form.
        var form = $(this);
        var url = form.attr('action');

        $.ajax({
            type: "POST",
            url: url,
            data: form.serialize(), //serializes the form's elements.
            success: function (data) {
                //alert(data); // show response from the php script.
            }
        });
    });
</script>

