@model List<EnrichcousBackOffice.Models.T_TicketType>
    <style>
        .input-error{
            border: 1px solid red !important;
        }
    </style>
<div class="modal fade" id="type_list_modal">
  
    <div class="modal-dialog">
        <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title" style="text-transform:uppercase">@ViewBag.ProjectName | Type List</h4>
                </div>
                <div class="modal-body">
                    <button class="btn btn-sm btn-success" onclick="addNew()" style="position:absolute"><i class="fa fa-plus"></i> Add New</button>
                    <table id="type-list-table" class="table table-hover table-bordered table-striped">
                        <thead>
                            <tr>
                                <th data-searchable="true">Type Name</th>
                                <th data-searchable="false">Order</th>
                                <th data-orderable="false"></th>

                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var type in Model)
                            {
                                <tr data-id="@type.Id">
                                    <td data-column="Name" style="vertical-align:middle" data-text="@type.TypeName">@type.TypeName</td>
                                    <td data-column="Order" style="vertical-align:middle" data-text="@(type.Order??0)">@(type.Order??0)</td>
                                    <td class="text-center">
                                        <button class="btn btn-edit btn-sm btn-warning" onclick="UpdateType(this)"><i class="fa fa-pencil"></i></button>
                                        <button class="btn btn-save btn-sm btn-success" style="display:none;" onclick="SaveType(this)"><i class="fa fa-check"></i></button>
                                        <button class="btn btn-cancel btn-sm btn-default" style="display:none;" onclick="CancelType(this)"><i class="fa fa-ban"></i></button>
                                        <button class="btn btn-delete btn-sm btn-danger" onclick="DeleteType(this)"><i class="fa fa-trash"></i></button>
                                    </td>
                                </tr>
                            }
                       
                        </tbody>
                       
                    </table>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary pull-right" data-dismiss="modal">Done</button>
                </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>

<script>
    function loadDatatable() {
        $("#type-list-table").DataTable({
            "language": {
                "processing": '<i class="fa fa-spinner fa-spin fa-3x fa-fw"></i>',
                "paginate": {
                    "first": '<i class="fa fa-angle-double-left" aria-hidden="true"></i>',
                    "last": '<i class="fa fa-angle-double-right" aria-hidden="true"></i>',
                    "next": '<i class="fa fa-angle-right" aria-hidden="true"></i>',
                    "previous": '<i class="fa fa-angle-left" aria-hidden="true"></i>'
                },
            },
            "pageLength": 100,
            'lengthChange': false,
            'searching': true,
            "stateSave": true,
            'paging': false,
            'order': [],
            'info': false,
            'ordering': true,
        })
    }
    loadDatatable();
    function UpdateType(el) {
        let trTable = $(el).parents('tr');
        let tdNameTable = $(trTable).find('td[data-column="Name"]');
        let tdOrderTable = $(trTable).find('td[data-column="Order"]');
        let currentNameVal = $(tdNameTable).text();
        let currentOrderVal = $(tdOrderTable).text();
        $(tdNameTable).html(`<input value="${currentNameVal}" class="form-control" style="width:100%" name="Name" />`);
        $(tdOrderTable).html(`<input value="${currentOrderVal}" class="form-control" style="width:60px" type="number" name="Order" />`);
        $(trTable).find(".btn-edit").hide();
        $(trTable).find(".btn-delete").hide();
        $(trTable).find(".btn-save").show();
        $(trTable).find(".btn-cancel").show();
    }
    function CancelType(el) {
        let trTable = $(el).parents('tr');
        let tdNameTable = $(trTable).find('td[data-column="Name"]');
        let currentNameVal = $(tdNameTable).attr("data-text");

        let tdOrderTable = $(trTable).find('td[data-column="Order"]');
        let currentOrderVal = $(tdOrderTable).attr("data-text");

        $(tdNameTable).html(currentNameVal);

        $(tdOrderTable).html(currentOrderVal);
        $(trTable).find(".btn-edit").show();
        $(trTable).find(".btn-delete").show();
        $(trTable).find(".btn-save").hide();
        $(trTable).find(".btn-cancel").hide();
    }
    function DeleteType(el) {
        if (confirm('Are you sure are you sure to delete this type ?')) {
            let trTable = $(el).parents('tr');
            var TypeId = $(trTable).attr("data-id");

            $.ajax({
                method: "POST",
                url: "/ticket_new/DeleteType",
                data: { TypeId },
                dataType: "json"
            }).done(function (data) {
                if (data.status == true) {
                    var options = $.parseJSON('{"text":"' + data.message + '","layout":"topRight","type":"success"}');
                        noty(options);

              
                    $("#type-list-table").DataTable().destroy();
                    trTable.remove();
                    loadDatatable();
                    refeshTypeTicketInfo();
                    }
                else {
                    var options = $.parseJSON('{"text":"' + data.message + '","layout":"topRight","type":"error"}');
                       noty(options);

                    }
                })
        }
    }
    function SaveType(el) {
        let trTable = $(el).parents('tr');

        let tdNameTable = $(trTable).find('td[data-column="Name"]');
        let tdOrderTable = $(trTable).find('td[data-column="Order"]');
      

        let projectId = $("#Project_select").val();
        let Id = $(trTable).attr('data-id');
        let Name = $(trTable).find('[name="Name"]').val();
        if (Name == '') {
            var options = $.parseJSON('{"text":"please enter type name","layout":"topRight","type":"error"}');
            noty(options);
            $(trTable).find('[name="Name"]').addClass('input-error');
            $(trTable).find('[name="Name"]').focus();
            $(trTable).find('[name="Name"]').keyup(function () {
                $(trTable).find('[name="Name"]').removeClass('input-error');
            })
            return;
        }
        //let Type = $(trTable).find('[name="Type"]').val();
        let Order = $(trTable).find('[name="Order"]').val();

        $.ajax({
            method: "POST",
            url: "/ticket_new/SaveStageType",
            data: { Id, 'TypeName':Name, Order, projectId },
            dataType: "json"
        }).done(function (data) {
            if (data.status == true)
            {
                var options = $.parseJSON('{"text":"' + data.message + '","layout":"topRight","type":"success"}');
                noty(options);

                if (Id) {
                    $(trTable).find(".btn-edit").show();
                    $(trTable).find(".btn-delete").show();
                    $(trTable).find(".btn-save").hide();
                    $(trTable).find(".btn-cancel").hide();

                    $(tdNameTable).html(Name);
                    $(tdNameTable).attr('data-text', Name);
                
                    $(tdOrderTable).html(Order);
                    $(tdOrderTable).attr('data-text', Order);
                    $("#type-list-table").DataTable().destroy();
                    loadDatatable();
                }
                else {
                    $(trTable).remove();
                
                    $("#type-list-table").DataTable().destroy();
                    $("#type-list-table").find('tbody').append(`
                                <tr data-id="${data.TypeId}">
                                    <td data-column="Name" style="vertical-align:middle" data-text="${Name}">${Name}</td>
                                   
                                    <td data-column="Order" style="vertical-align:middle" data-text="${Order||0}">${Order||0}</td>
                                    <td class="text-center">
                                        <button class="btn btn-edit btn-sm btn-warning" onclick="UpdateType(this)"><i class="fa fa-pencil"></i></button>
                                        <button class="btn btn-save btn-sm btn-success" style="display:none;" onclick="SaveType(this)"><i class="fa fa-check"></i></button>
                                        <button class="btn btn-cancel btn-sm btn-default" style="display:none;" onclick="CancelType(this)"><i class="fa fa-ban"></i></button>
                                        <button class="btn btn-delete btn-sm btn-danger" onclick="DeleteType(this)"><i class="fa fa-trash"></i></button>
                                    </td>
                                </tr>
                                `);
                 
                    loadDatatable();
                }
                refeshTypeTicketInfo();

            }
            else {
                var options = $.parseJSON('{"text":"' + data.message + '","layout":"topRight","type":"error"}');
                noty(options);

            }
        })

    }
    function addNew() {

        if ($(".addNewRowType").length) {
            $(".addNewRowType").find('[name="Name"]').focus();
            return;
        }
        $("#type-list-table").find('tbody').append(`<tr class="addNewRowType">
                                    <td data-column="Name" style="vertical-align:middle">
                                        <input  class="form-control"  style="width:100%" name="Name" />
                                      </td>
                                  
                                    <td data-column="Order" style="vertical-align:middle"><input class="form-control" value="0" style="width:60px" type="number" name="Order" /></td>
                                    <td class="text-center">
                                        <button class="btn btn-save btn-sm btn-success" onclick="SaveType(this)"><i class="fa fa-check"></i></button>
                                        <button class="btn btn-cancel btn-sm btn-default" onclick="$(this).parents('tr').remove()"><i class="fa fa-ban"></i></button>
                                    </td>
                                </tr>`);
    }
    function refeshTypeTicketInfo() {
        let projectId = $("#Project_select").val();
        $.ajax({
            method: "POST",
            url: "/ticket_new/LoadTicketType",
            data: { projectId},
            dataType: "json"
        }).done(function (data) {
            var typeTicketInfo = $("#type");
            var typeSelected = $(typeTicketInfo).val();
            $(typeTicketInfo).html('');
            $.each(data, function (i, item) {
                $(typeTicketInfo).append($('<option>', {
                    value: item.Value,
                    text: item.Text,
                  
                }));
            });
            $(typeTicketInfo).val(typeSelected);
        })
    }

</script>