@model IEnumerable<EnrichcousBackOffice.Models.CustomizeModel.StageVerMem_View>
@foreach (var v in Model)
{
    <div class="list_mem custom-scroll version_@v.Version.Id" style="display:none; margin:20px 10px; border: 1px solid var(--main-color-1); background-color: #f5f5f5">
        <b style="padding: 0px 20px; font-size: 1.2em; margin: -10px 20px; position:absolute; background-color: #f5f5f5; color:#076aa4">@v.Version.Name</b>
        <table class="table table-bordered table-hover table-striped" style="margin-bottom:0px; margin-top:20px">
            <thead>
                <tr>
                    <th style="width:10%">#</th>
                    <th style="width: 35%">Member name</th>
                    <th style="width:10%">Leader</th>
                    <th>Email</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var m in v.ver_mems)
                {
                    <tr>
                        <td>@m.member.MemberNumber</td>
                        <td>@m.member.FullName</td>
                        <td>
                            <input class="btn btn-success set_lead @(@m.IsLeader==true?"setted":"")" name="@ViewBag.stageId-@v.Version.Id" data-stage="@ViewBag.stageId" data-version="@v.Version.Id" value="@m.member.MemberNumber" type="radio" data-toggle="tooltip" data-placement="top" title="Set Leader" @(m.IsLeader == true ? "checked" : "") />
                        </td>
                        <td>@m.member.PersonalEmail</td>
                        <td style="width:50px" onclick="unselect_member('@v.Version.Id','@ViewBag.stageId','@m.member.MemberNumber')">
                            <button class="btn btn-sm btn-danger"><i class="fa fa-close"></i></button>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
}
@if (Model.Count() == 0)
{
    <div class="list_mem custom-scroll" style="display:none;">
        <div class="alert text-center" role="alert" style="margin:5px;color: #856404;background-color: #fff3cd;border-color: #ffeeba;">
            <b>This stage has no members!</b>
        </div>
    </div>
}
<script type="text/javascript">
    $('.set_lead').iCheck({
        checkboxClass: 'icheckbox_flat-blue',
        radioClass: 'icheckbox_flat-blue',
    });
    $(".set_lead").off();

    $(".set_lead").on("ifClicked", function () {
        var el = $(this);
        var stage_id = el.data("stage");
        var version_id = el.data("version");
        var member_number = el.val();
        if (el.hasClass("setted")) {
              overlayOn();
        $.ajax({
            method: "POST",
            url: "/ProjectManagement/UnsetLeader",
            data: { stage_id, version_id, member_number },
            dataType: "json"
        })
            .done(function (data) {
                if (data[0]) {
                    success(data[1]);
                    $(el).removeClass("setted");
                    setTimeout(function () {
                        $(el).iCheck("uncheck",);
                    }, 0);
               
                }
                else {
                    error(data[1]);
                }
            })
            .fail(function () {
                alert("unset leader fail!");
            })
            .always(function () {
                overlayOff();
            });
            return;
        }
      
        if (!stage_id) {
            warning("satge id missing!");
            return;
        }
        if (!member_number) {
            warning("Member id missing!");
            return;
        }
        overlayOn();
        $.ajax({
            method: "POST",
            url: "/ProjectManagement/SetLeader",
            data: { stage_id, version_id, member_number },
            dataType: "json"
        })
            .done(function (data) {
                if (data[0]) {
                    success(data[1]);
                    $('#stage_' + stage_id + " .setted").removeClass("setted");
                    el.addClass("setted");
                } else {
                    error(data[1]);
                    console.log(data);
                    show_subs("@ViewBag.stageId", true);
                    $('#stage_' + stage_id + " .setted").iCheck("check",);

                }
            })
            .fail(function () {
                alert("set leader fail!");
            })
            .always(function () {
                overlayOff();
            });
    })
</script>
